body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgba(0,0,0,.1);
}

h2 {
  margin: 20px auto 20px;
  font-size: 38px;
  font-weight: 300;
  
  letter-spacing: 2px;
  line-height: 1.5;
  PADDING: 5px 5px 5px 308px;
   
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border-top: 0.5px solid #aea1a1;
  /*border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;*/
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
  
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  text-decoration-color: #e06733;
}

details p {
  color: #96999d;
  font-weight: 300;
}
.header-text
{     -webkit-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  --bg-green: #edf2ec;
  --bg-white: #ffffff;
  --accent-red: #e06733;
  --accent-green: #499a18;
  --main-text: #636060;
  font-family: "Inter", sans-serif;
  padding: 0px;
  border-color: black;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 40px;
  color: #fbfbfb;
  padding-bottom: 12px;
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 0;
}
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  color: #006dfe;
}

summary:focus {
  outline: none;
  color: #141415;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*box-shadow: 0 0 0 5px rebeccapurple;
  color: #1e1f1f;*/
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
  transform: rotate(45deg);
  display:none;
}

.holder:hover .control-icon-close {
    display:block;
}
/*
.holder:hover .acordion_content  {
  display:block;
}
*/
.holder:hover .acordion_content  {
  display:block;
}
.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: none;
  transition: .3s ease;
  transform: rotate(90deg);
  
}

details[open] .control-icon-expand {
  display: none;
  transition: .3s ease;
}
.footer
{
  --bg-green: #edf2ec;
  --bg-white: #ffffff;
  --accent-red: #e06733;
  --accent-green: #499a18;
  --main-text: #636060;
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  display: block;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  /*padding-top: 20px;*/
}
.footer__data
{
  display: flex;
  gap: 21px;
  list-style-type: none;
  padding-left: 0;   
}
.footer__company
{
  --bg-green: #edf2ec;
  --bg-white: #ffffff;
  --accent-red: #e06733;
  --accent-green: #499a18;
  --main-text: #636060;
  font-family: "Inter", sans-serif;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  padding-bottom: 0;
    height: 44px;
}
.footer__icons
{
  --bg-green: #edf2ec;
  --bg-white: #ffffff;
  --accent-red: #e06733;
  --accent-green: #499a18;
  --main-text: #636060;
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  column-gap: 20px;
  height: 50px;
  padding-bottom: 5px;
  list-style-type: none;
  padding-left: 0;
}

.accordion_btn
{
  --bg-green: #edf2ec;
    --bg-white: #ffffff;
    --accent-red: #e06733;
    --accent-green: #499a18;
    --main-text: #636060;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    
    
}/*
.accordion_btn {
  
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
*/
.acordion_content
{
  --bg-green: #edf2ec;
  --bg-white: #ffffff;
  --accent-red: #e06733;
  --accent-green: #499a18;
  --main-text: #636060;
  font-family: "Inter", sans-serif;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 12px;
  margin: 0px 39px 0px 39px;
  border-top: 0.5px solid #aea1a1;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  background-color: #706c6c;
  display: none;
}
.acordion_content1
{
  --bg-green: #edf2ec;
  --bg-white: #ffffff;
  --accent-red: #e06733;
  --accent-green: #499a18;
  --main-text: #636060;
  font-family: "Inter", sans-serif;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 12px;
  margin: 0px 39px 0px 39px;
  border-top: 0.5px solid #aea1a1;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  background-color: #706c6c;
  align:center;
  display: none;
}
@media (width<=768px) {
  details {
    min-height: 5px;
    max-width: 700px;
    padding: 5px 10px 10px 5px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border-top: 0.5px solid #aea1a1;
    box-sizing: border-box;
    transition: all .3s;
  }
  h2 {
    PADDING: 5px 5px 5px 35px;
    font-size: 38px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5;
}
  .header-text {
    -webkit-text-size-adjust: 100%;
    font: inherit;
    vertical-align: baseline;
    --bg-green: #edf2ec;
    --bg-white: #ffffff;
    --accent-red: #e06733;
    --accent-green: #499a18;
    --main-text: #636060;
    font-family: "Inter", sans-serif;
    padding: 0px;
    border-color: black;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 27px;
    color: #fbfbfb;
    padding-bottom: 5px;
    text-align: left;
    font-size: 29px;
    margin-bottom: 14px;
    margin-top: 0;
    align-items: center;
}
}
